.default-button {
  background-color: #010101;
  color: #fafafa;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.secondary {
  background-color: white;
  color: #010101;
  /* color: #030136; */
}
