.searchbar {
  display: flex;
  height: 100px;
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding: 20px 30px;
    border-right: 1px solid #c3c3c3;

    &:last-child {
      border-right: 0;
    }

    select {
      width: 100%;
      border: none;
      outline: none;
      padding: 15px 0;
      border-radius: 12px;
      font-size: 18px;
      cursor: pointer;
    }

    label {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10px;

      span {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .price {
      padding: 0;
      border-right: none;
      width: 100%;
      display: flex;
      flex-direction: row;

      input {
        width: 100%;
        border: none;
        outline: none;
        padding: 15px 0;
        border-radius: 12px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 850px) {
  .searchbar {
    flex-direction: column;
    height: auto;
    padding: 15px 0;

    div {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #c3c3c3;
      padding: 5px 25px;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
